:root{
    height: 100vh;
    width: 100%;
  }
  #root {
    height: 100vh;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 240, 243);
  }
  
  